.row-item {
    width: 100%;
    background-color: aqua;
    margin-bottom: 0.5em;
}

.row-form {
    display: flex;
    margin: 0.5em 0;
}

.add-item-btn {
    margin-bottom: 2em;
}

.emp {
    width: 100%;
    background-color: #dee2e6;
    margin-bottom: 1em;
    border-radius: 10px;
}

.emp-cord {
    position: relative;
    width: 100%;
    background-color: #3F51B5;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-right: 6px;
    padding-left: 6px;
    border-radius: 10px;
    display: flex;
    cursor: pointer;
}

.emp-data-container {
    margin-left: 1em;
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
}

.emp-name {
    font-weight: bold;
    font-style: italic;
    font-size: 1.1em;
    margin-bottom: 0.5em;
    z-index: 2;
}

.emp-exp-details {
    width: 100%;
    background-color: #dee2e6;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 0.1em 0.8em;
    z-index: 1;
    animation: slide-down 1s ease-in-out 0s 2 alternate;
}

.hidden {
    visibility: hidden;
}

.visible {
    visibility: visible;
}

.delete-item {
    color: #ff0000;
    position: absolute;
    right: 0;
    top: 0;
    margin-top: 0.625em;
    margin-right: 0.625em;
}

@keyframes slide-up {
    from {
        transform: translateY(-10px);
    }

    to {
        transform: translateY(0);
    }
}

@keyframes slide-down {
    from {
        transform: translateY(0px);
    }

    to {
        transform: translateY(10px);
        /* background-color: #bfc1c3; */
        color: #ff0000;
    }
}